<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <h1>Welcome <%= name %> to user's managment system</h1>
    <a href="/add">Add New</a>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Place</th>
            <th colspan="2">Operation</th>
        </tr>
        <% user.forEach((user) => { %>
             <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.place %></td>
                <td>
                    <a href="/update/<%= user.id %>">Update</a>
                </td>
               <td>
                <form action="/delete/<%= user.id %>" method="post">
                    <button onclick="return confirm(`Are you sure you want to delete <%= user.name %>`)">Delete</button>
                </form>
               </td>
             </tr>
        <% }) %>
    </table>
    <a href="/logout">Logout</a>
</body>
</html>